# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment files
.env
.venv
env/
venv/

# Ignore virtual environment folders (if any)
bin/
lib/
lib64/
include/
Scripts/

# Ignore Jupyter runtime files
jupyter_runtime/

# Ignore .DS_Store (Mac OS specific)
.DS_Store

# Ignore Jupyter logs
*.log